language: node_js
sudo: false
node_js: '0.10'

before_install:
  - "mkdir -p ~/.npm"
before_script:
  - npm install -g istanbul jshint codeclimate-test-reporter

script:
  - make ci
  - CODECLIMATE_REPO_TOKEN=1d1202f04ddb4de3d18cabdd150242b5db30a627d77ad257e8f78dc9c38859ee codeclimate-test-reporter < coverage/lcov.info
